<div class="d-flex flex-row">
  <div class="w-50 d-flex flex-column border vh-100">
    <div class="flex-grow-1 overflow-y-auto p-3">
      @for (message of messages(); track message) {
      @if (message.role == 'user') {
      <div class="d-flex justify-content-end align-self-end">
        <div class="d-inline bg-users rounded px-3 py-2 text-white mw-75">{{ message.message }}</div>
      </div>
      } @else {
      <div class="d-flex align-self-start">
        <div class="d-inline bg-system rounded px-3 py-2 mw-75">{{message.message}}</div>
      </div>
      }
      }
      @if (loading()) {
      <div class="d-flex justify-content-center align-items-center" id="loader">
        <output class="spinner-border text-primary">
          <span class="visually-hidden">Loading...</span>
        </output>
      </div>
      }
    </div>
    <div class="p-3 border-top">
      <form class="d-flex" action="javascript:void(0);">
        <input type="text" class="form-control me-2" [placeholder]="loading() ? 'Loading...' : 'Type your message...'"
          [value]="textarea.value" (input)="interaction($event)" [disabled]="loading()" />
        <button class="btn btn-primary d-flex justify-content-center align-items-center" type="submit" (click)="next()"
          (submit)="next()">
          <img src="/icons/message.svg" alt="Send">
        </button>
      </form>
    </div>
  </div>
  <div class="w-50 d-flex flex-column border vh-100 justify-content-center align-items-center">
    <input type="file" (change)="upload($event)">
  </div>
</div>